VITE_API_BASE=http://127.0.0.1:8000/api
VITE_OPENWEATHER_API_KEY=your_openweather_api_key_here
VITE_OSRM_URL=https://routing.openstreetmap.de/routed-foot
VITE_OSRM_PROFILE=foot
VITE_STREET_TILES_URL=https://tile.openstreetmap.org/{z}/{x}/{y}.png
